<% include ../partials/boilerplate %>
<div class = "summer">
    <h1><%= title %></h1>
    <h1><%= stats.Temp %></h1>
    <h1><%= stats.sky %></h1>
</div>

    <div class="crop">
      
    </div>
<% include ../partials/end %>

