<% include ../partials/boilerplate %>
<div class = "winter">
    <h1><%= stats.location %></h1>
    <h1><%= stats.Temp %></h1>
    <h1><%= stats.sky %></h1>
</div>
<div class="img"></div>


<script>

const body = document.querySelector('body');
body.setAttribute("class", "winter")
if (stats.sky==='clear'){
    
}
</script>
<% include ../partials/end %>



